body{
    background-color: #DCEEF2;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1240px;
    padding-right: 10px;
    padding-left:  10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------  Table ---------- */
table {
    background: #FFF;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    line-height: 32px;
    font-weight: bold;
}

th, td {
    text-align: left;
    padding: 1em;
    max-height: 32px;
    height: 32px;
    line-height: 32px;
}

tr:hover {
    border-bottom: 1px solid rgba(140, 140, 140, 0.17);
    background-color:#f5f5f5;
}

table a{
    color: grey;
    background-color: transparent;
    text-decoration: none;
}


/* ----------  Task Creation Bar ---------- */
.taskbar {
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.taskbar .taskbar-container {
    float: left;
}

.taskbar input{
    margin: 8px;
    padding:15px;
    font-size: 17px;
    border: none;
    width: 500px;
    border-radius: 5px;
}

.taskbar .taskbar-container button {
    background-color: #00C4FF;
    float: right;
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 27px;
    border: none;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

.taskbar .taskbar-container button:hover {
    background: #418FDE;
}



/*----------    Histogram  ----------*/
.chart_container{
    border-radius: 5px;
    background-color:  rgba(255, 246, 250, 0.295);
    padding: 10px;
    margin-top: 5%;
    margin-left:30%;
    margin-right:30%;
    margin-bottom: 30%;
}

.chart_container p{
    color: #00C4FF;
    text-align: center;
    font-size: 20px;
}
.chart {
    width: 210px;
    height: 250px;
    position: relative;
    border-top: 1px solid #ccc;
    margin: 100px auto;
    background: linear-gradient(to top, #ccc 0, #ccc 1px, transparent 1px);
    background-size: 100% 50px;
    text-align: center;
}

.chart::after {
    content: '100 \a 80 \a 60 \a 40 \a 20 \a 0 ';
    line-height: 50px;
    white-space: pre;
    position: absolute;
    font-size: 12px;
    top: -25px;
    left: -2rem;
    color:#00C4FF;
}

.result-bg {
    display: inline-block;
    position: relative;
    width: calc((100% - 16px * 13) / 0.02);
    height: 100%;
    background: white;
}

/* -- Margin between bars --*/
.result-bg + .result-bg {
    margin-left: 20px;
}

.result-bg::after {
    font-size: 12px;
    color: grey;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
}

.result-bar {
    width: 100%;
    background: #00C4FF;
    position: absolute;
    bottom: 0;
    left: 0;
}
