body{
    background-color: #DCEEF2;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1240px;
    padding-right: 10px;
    padding-left:  10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------  Table ---------- */
table {
    background: #FFF;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
  line-height: 32px;
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: 1em;
  max-height: 32px;
  height: 32px;
  line-height: 32px;
}

tr:hover {
    border-bottom: 1px solid rgba(140, 140, 140, 0.17);
    background-color:#f5f5f5;
}

table a{
    color: grey;
    background-color: transparent;
    text-decoration: none;
}


/* ----------  Task Creation Bar ---------- */
.taskbar {
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.taskbar .taskbar-container {
    float: left;
}

.taskbar input{
    margin: 8px;
    padding:15px;
    font-size: 17px;
    border: none;
    width: 500px;
    border-radius: 5px;
}

.taskbar .taskbar-container button {
    background-color: #00C4FF;
    float: right;
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 27px;
    border: none;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

.taskbar .taskbar-container button:hover {
    background: #418FDE;
}
