<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update tasks</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/edit.css' %}"/>
</head>
<body>

    <div class="container">
        <form method="post" action="../edit/">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ task.id }}"/>

            <label>Task name</label>
            <input type="text" name="task_no" value="{{ task.task_no }}">

            <label>Task Description</label>
            <textarea name="task_desc" value="{{ task.task_desc }}" placeholder="What you need to update ..."
                      style="height:200px"></textarea>

            <input type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>