<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update tasks</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/edit.css' %}"/>
</head>
<body>

    <div class="container">
        <form method="post" action="../edit/">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ task.id }}"/>

            <label style="color: #00C4FF">Task Name</label>
            <input type="text" name="task_no" value="{{ task.task_no }}">

            <label style="color: #00C4FF">Update Description</label>
            <textarea name="task_desc" value="{{ task.task_desc }}"
                      style="height:150px; font-family: Arial, Helvetica, sans-serif; font-style: italic">{{ task.task_desc }}</textarea>

            <input type="submit" value="Done"/>
        </form>
    </div>
</body>
</html>