<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks Manager</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/index.css' %}"/>

    <!-- fontawesome icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <div  class = "taskbar">
        <div class = "taskbar-container">
            <form method="post" action="../taskmanager/add/">
                {% csrf_token %}
                <input name="task_no" placeholder="Task name"/>
                <input name="task_desc" placeholder="Add description to the task"/>
                <button type="submit">start</button>
            </form>
        </div>
    </div>

    <table >
        {% for task in tasks %}
            <tr>
                <td style="font-weight: bold; color: #00C4FF;" >{{ task.task_no }} </td>
                <td style="width:320px; font-style: italic">{{ task.task_desc }} </td>
                <td>{{ task.create_date|date:'M-d H:i:s' }}</td>
                <td>{{ task.create_date|date:'M-d H:i:s' }}</td>
                <td style="width:30px"><a href="#">  <i class="far fa-clock"></i> </a> </td>
                <td style="width:30px"><a href="../taskmanager/edit/?id={{ task.id }}"> <i class="far fa-edit"></i> </a> </td>
                <td style="width:30px"><a href="../taskmanager/delete/?id={{ task.id }}"> <i class="far fa-trash-alt"></i> </a></td>
            </tr>
        {% endfor %}
    </table>

    <!-- Histogram -->
    <div class = "chart_container">
        <p> Tasks you have started so far ...</p>
        <div class="chart">
            <div class="result-bg">
              <div class="result-bar" style="height: {{ count }}%"></div>
            </div>
        </div>
    </div>

</body>
</html>
